/*
 * Bootstrap complementary styles
 * Special styles for presenting the website
 */
 
html {
	font-size: 90%;
}
/* ========== Layout ==========  */

.intermediaire {
	height:250px;
}

#share span {
	display:inline-block;
	height:23px;
}

#googlemap {
	margin:15px 0;
}

/* ========== Headers ========== */

h1, h2, h3, h4, h5, h6 {
	clear: left;
}

/* ========== Backgrounds ========== */

#background-header {
  
}

#background-slideshow {
  background: #ccc;
}

#background-title {
  background:#f4f5f6;
}

#background-homepage {
  background:#f4f5f6;
}

#background-main {
  background:#f4f5f6;
  margin-bottom:5px; 
}

#background-footer {
  background: #e5e5e5;
}


/* ========== Main Sections ========== */

#center {}

#main {
	padding-bottom:30px;
}

#sharing {
  padding: 8px 15px 8px 15px;
  text-align:right;
}

#albums-homepage, #images-homepage {}

#news-homepage {}
#albums-homepage {}
#images-homepage {}

#albums-homepage #albums, #albums {
margin-top: 15px;
margin-bottom: 15px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
align-items: flex-start;
}

#albums-homepage #albums {
  justify-content: space-evenly;
}
#albums {

}

#images, #images-latest, #images-latest-date, #images-popular, #images-toprated, #images-random {
margin-top: 15px;
margin-bottom: 15px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
align-items: flex-start;
justify-content: center;
}

#images-latest, #images-latest-date, #images-popular, #images-toprated, #images-random {}
#images-latest {}
#images-latest-date {}
#images-popular {}
#images-toprated {}
#images-random {}
#images {
}

#photo {}

#album-details, #image-details, #page-details, #article-details {}

#album-details {}
#image-details {}
#page-details {}
#article-details {}

#image-caption, #album-caption, #news-category-caption {}
#image-caption {}
#album-caption {}
#news-category-caption {}

#page-content {}
#article-content {}
#page-extra-content {}
#article-extra-content {}

#image-metadata {}
#album-metadata {}
#page-data {}
#article-data {}
#news-category-data {}

#album-extras, #image-extras, #page-extras, #article-extras {}

#album-extras {}
#image-extras {}
#page-extras {}
#article-extras {}

#album-related, #image-related, #page-related, #article-related {
  margin-bottom: 30px;
}
#album-related {}
#image-related {}
#page-related {}
#article-related {}

#news-archive {}
#album-archive {}

#password-form {}
/* ========== Branding & Logo  ========== */

#logo img {
  max-width: 100%;
  height: auto;
}

#logo-text h1 {
    font-size: 2em;
    margin: 30px 10px 10px;
    font-weight: 700;
    text-transform: uppercase;
}
#logo-text h2 {
	font-size: 2em;
    margin: 30px 10px 10px;
    font-weight: 700;
    text-transform: uppercase;
}
#logo-text a {text-decoration: none;}
#logo-text a:hover, header h1 a:focus, header h2 a:focus {text-decoration: none;}

.tagline {
	font-size:90%;
	display:block;
	margin-left:10px;}


/* ========== Navigation ========== */	
.nav-local ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-local ul > li  {
  position: relative;
  display: block;
}
.nav-local ul > li > a {
  position: relative;
  display: block;
  padding: 6px 15px;
}
.nav-local ul > li > a:hover,
.nav-local ul > li > a:focus {
  text-decoration: none;
  background-color: #e5e5e5;
  border-radius: 4px;  
}

.nav-local ul a.open,
.nav-local ul a.open:hover,
.nav-local ul a.open:focus {
  background-color: #e5e5e5;
  border-radius: 4px;
  color:#aaa;
}

.nav-stacked > li, 
.nav-local ul > li {
  float: none;
}
.nav-stacked > li + li, 
.nav-local ul > li + li {
  margin-top: 2px;
  margin-left: 0;
}


/* ========== Nav stacked ========== */
/* allow nav stacked with multiple levels */

.nav-local ul li ul {
	font-size:0.9em;
	padding-left:20px;
}
	
#nav-local ul li ul {
	font-size:0.9em;
	padding-left:20px;
}

/* ========== Global navigation ========== */

#bs-example-navbar-collapse-1 {
  padding-top:33px;
  
}

.navbar li {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight:600;
}

.navbar li li {
  text-transform: none;
  letter-spacing: 0;
  font-weight:normal;  
}

/* ========== CSS dropdowns ========== */

.css-dropdown ul li ul {
	display: none;
}
.css-dropdown ul li:hover ul {
	display:block; 
	position:absolute; 
	top:38px; 
	left:0px; 
}

@media (max-width: 767px) { 
.css-dropdown ul li:hover ul {
	display:none;
}
}

.navbar .css-dropdown ul li:hover ul {
	top:38px; 
}



/* ========== Main content ========== */

.glyphicon:after {
	content: "\0020";
	margin-right:7px;
}
h1 >.glyphicon:after {
	content: "\0020";
	margin-right:10px;
}


.caption h3 {
	margin-top:0px;
}

.text-center img {
	margin-left:auto;
	margin-right:auto;
}


.full-image {
	max-height:900px;
}

img.pull-left {
  margin-right:10px;
  margin-bottom:10px;
}

img.pull-right {
  margin-left:10px;
  margin-bottom:10px;
}

/* ========== Pagination ========== */
div.pagelist {
	display:block;
	clear: both;
}

.pager li {
	  display: inline;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    color: #428bca;
    border: 1px solid #e6e9ea;
    text-decoration: none;
    background-color: #f4f5f6;
}
	.pager li > a, .pager li > span {
 		display: inline;
    padding: 0;
    border: none;
    background-color: initial;
    border-radius: 0px;
}


/* ========== Homepage ========== */

#paradigm-carousel {}

#extended-message-homepage {
	margin:30px 15px;
	font-size:110%;
	line-height:1.3em;
}

.homepagetitle {
  display:block;
  position:absolute;
  top:80%;
  left:5%;
  color:#000;
  z-index:100;
}

#homealbums h3 {
  font-size: 1.26em;
}


#blog-style-homepage {
    overflow: hidden;
    clear: both;
    margin-bottom: 35px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

@media (max-width: 767px) { 
#blog-style-homepage {
	display:block;
	grid-template-columns:100%;
	column-count: 1;
  }
}

@media (max-width: 550px) {
#blog-style-homepage {
	display:block;
	grid-template-columns:100%;
	column-count: 1;
}
}
@media (max-width: 400px) {
#blog-style-homepage {
	display:block;
	grid-template-columns:100%;
	column-count: 1;
	}
}
	
.homepage-news-item {
	margin: 0;
	padding: 0 15px;
	width: 100%;
	height: auto;
	display: inline-block;
	clear: both;
	break-inside: avoid;
	border-bottom: 1px dashed #ccc;
}


/* ========== Plugins & Functions ========== */

#copyright {}
#favorites {}
#download {}
#codecopy {}
#hitcounter {}
#location {}

#rating {
	margin-bottom:15px;
}

#rating .button {
	margin-left:15px;
}

h2.related-items {
}

h2.related-items::before {

}
ul#related-items {
  align-content: center;
  display: flex;
	justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding:0;
}

ul#related-items li {
	display: inline-block;
	max-width: 240px;
	margin: 0 auto 15px auto;
  padding: 0 5px;
}

ul#related-items li.related-images {}
ul#related-items li.related-albums {}
ul#related-items li.related-pages {}
ul#related-items li.related-news {}

a.related-items_thumb {}

.related-items_thumb img {
	margin:5px auto;
	max-width: 240px;
}
#related-items h3 {
	font-size: 0.9em;
	text-transform: none;
	text-align: center;
  margin-bottom: 5px;
  padding-bottom: 0;
}
#related-items p {
		font-size: 0.8em;
}
#related-items p.excerpt {
}
#related-items p.related-items_date {
	display: block;
	font-size: 0.6em;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* ========== Albums and image thumbnails ========== */


h2.media-heading {
	font-size:1.4em;
  flex: none;
  width: 100%;
}

h2.media-heading i {
	font-size:0.8em;
}

.media-body {
	clear:both;
}

.media-object {
  margin-left: 10px;
  float:right;
  display: inline-block;
}


/* ========== Sidebar ========== */

h2.sidebar-header {
  color: #705A41;
	font-size:1em;
	text-align: center;
}

.panel {
    margin-bottom: 5px;
}
.panel img, .well img, .content img, #main img {
  border-radius: 3px;
  max-width: 100%;
  height: auto;
}

.panel img {
	  vertical-align: baseline; 
}


/* ========== Articles ========== */

.zenpage_fullimage {
	display: block; 
	margin: 20px auto; 
	}
	

.zenpage_imagelink {
	display: block;
}
	
hr {
    clear: both;
}


.content {
	display: inline-block;
	width: 100%;
	margin:20px auto;
	padding-bottom: 5px;
	border-bottom: 1px dashed #ccc;
}

.readmorelink {
	display:block;
	margin-top:5px;
}
span.readmorelink {
	display:inline;
	margin-top: initial;
}

.excerpt {
	margin:20px auto;
}

.news-excerpt {
	display:inline-block;
	height: auto;
  break-inside: avoid;
	width:100%;
	clear: both;
	margin-bottom:5px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #ccc;
}
.news-data {
	padding:10px 0;
	display:block;
	clear: both;
}

ul.news-info {
	display: inline;
}
ul.news-info li {
	display: inline;
	margin-left: 0;
  padding-left: 3px;
	padding-right: 0px;
}


/* ========== Featured Images ========== */

#main .feat-image {
	max-width:100%;
	height:auto;
	float:left;
	margin:0 20px 20px 0;
	clear:both;
	display:inline-block;
}

.feat-image-home {
	max-width:100%;
	float:left;
	margin:0 20px 20px 0;
	clear:both;
	display:inline-block;
}

@media (max-width: 550px) {
.feat-image {
	max-width:100%;
	height:auto;
	margin:20px auto;
	display:block;
	float:none;
	clear:both;
	}
	
.feat-image-home {
	max-width:100%;
	width:auto;
	height:auto;
	margin:20px auto;
	display:block;
	float:none;
	clear:both;
	}
	
.col-lg-4 {
	display:block;
	float:none;
	clear:both;
	}
	
.media-body {
	height:100%;
	overflow:visible;
	display:block;
	}
	
.media-object {
	max-width:100%;
	width:auto;
	height:auto;
	margin:20px auto;
	display:block;
	float:none;
	clear:both;
	}
}

@media (max-width: 768px) {
.media-object {
	max-width:100%;
	height:auto;
	margin:20px auto;
	display:block;
	float:none;
	clear:both;
	}
}
/* ========== Copyright and Code ========== */
.extra-image-info-fields {}

.markup-copy-field {width:100%;margin-top:30px;}
.markup-copy-field textarea {
  width:100%;
  height: auto;
  min-height:100px;
}

/* ========== Videos ========== */

#video-main {
	margin-bottom:60px;
}

/* ========== Tag cloud ========== */

ul.tag-cloud {
	margin:0px;
}

ul.tag-cloud  li {
	list-style-type:none;
	float: left;
	margin:0px 8px 5px 0px;
}

.tl-tag-weight1 {
	font-size:0.4em;	
}
.tl-tag-weight2 {
	font-size:0.5em;	
}
.tl-tag-weight3 {
	font-size:0.6em;	
}
.tl-tag-weight4 {
	font-size:0.7em;	
}
.tl-tag-weight5 {
	font-size:0.8em;	
}
.tl-tag-weight6 {
	font-size:0.9em;	
}

/* ========== Tags ========== */

#tags {}

.taglist {
	font-size:0.9em;
}

ul.taglist {
	margin-left:-40px;
}

ul.taglist > li {
	display:inline;
	list-style-type:none;
}



/* ========== Search ========== */

#searchfields_icon {
	display: none
}

.searchresults {
	padding-bottom: 5px;
	margin-bottom:5px;
}

/* ========== Favorites ========== */

.favorites {}

.fav-images {}

.fav-albums {
	float:right;
	margin:5px;
}
.albumsFavorites_remove, .albumsFavorites_add, .imagesFavorites_remove, .imagesFavorites_add {
	margin:5px;
}

/* ========== Comments ========== */

#commentcontent {
	margin-top: 25px;
	clear: both;
 	padding-top: 15px;
	border-top: 1px dashed #ccc;
}

#comments {}
#commententry {
  margin-top: 15px;
  padding-top: 15px;
	border-top: 1px dashed #ccc;
}

.comment {
	margin-top: 15px;
	border-top: 1px dashed #ccc;
	clear: both;
}
.commentinfo {
	padding:10px 0;
	font-size:100%;
	display:block;
	clear: both;
}

.commentinfo h4 {
	font-size: 1em;
}
.commenttext {
	margin-left: 20px;
}
/* ========== Archive, Explore and Sitemaps page lists ========== */

.columns {
	-webkit-columns: 1;
	-moz-columns: 1;
	columns: 1;
  margin-bottom:15px;
}

@media (min-width: 768px) { 
.columns {
	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
}
}

@media (min-width: 992px) { 
.columns {
	-webkit-columns: 3;
	-moz-columns: 3;
	columns: 3;
}
}

@media (min-width: 1200px) { 
.columns {
	-webkit-columns: 3;
	-moz-columns: 3;
	columns: 3;
}
}

#sitemap-albums-output,
#sitemap-news-output,
#sitemap-pages-output {
	-webkit-columns: 3;
	-moz-columns: 3;
	column-count: 3;
	columns: 3;
	}

#sitemap-albums-output li,
#sitemap-news-output li,
.columns li {
	overflow: hidden;
	break-inside: avoid;
	-webkit-column-break-inside: avoid;	
}

.sitemap-submenu {}

#sitemap-tags {
	-webkit-columns: 4;
	-moz-columns: 4;
	column-count: 4;
	columns: 4;
}

@media (max-width: 767px) { 
#sitemap-albums-output,
#sitemap-news-output,
#sitemap-pages-output {
	-webkit-columns: 3;
	-moz-columns: 3;
	column-count: 3;
	columns: 3;
	}
#sitemap-tags {
	-webkit-columns: 3;
	-moz-columns: 3;
	column-count: 3;
	columns: 3;
}
}

@media (max-width: 550px) {
#sitemap-albums-output,
#sitemap-news-output,
#sitemap-pages-output {
	-webkit-columns: 2;
	-moz-columns: 2;
	column-count: 2;
	columns: 2;
	}
#sitemap-tags {
	-webkit-columns: 2;
	-moz-columns: 2;
	column-count: 2;
	columns: 2;
}
}
  
@media (max-width: 400px) {
#sitemap-albums-output,
#sitemap-news-output,
#sitemap-pages-output {
	-webkit-columns: 1;
	-moz-columns: 1;
	column-count: 1;
	columns: 1;
	}
#sitemap-tags {
	-webkit-columns: 1;
	-moz-columns: 1;
	column-count: 1;
	columns: 1;
}	
}

/* ========== Footer ========== */

.footercontainer {
  padding-right: 15px;
  padding-left: 15px;
}
#footer ul {
  margin-top:10px;
}
#footer li {
	padding:0px;
}
#footer li:after {
	color: #ccc;
	content: '\A0\A0\7C\A0\A0';
}
#footer li.last:after, #footer .links-social li:after {
    content: none;
}

.links-social, .links-rss, .user-actions {
  margin-top:0;
  padding:0;
}
.links-rss {
  margin-bottom:20px;
}
/* ========== Forms ========== */
 
#navbar_search {
	float:right;
	display:block;
}

#search_input {size:15;word-break: keep-all;}

legend.captcha-label {
  display: inline-block;
  max-width: 100%;
  padding: 0;
  margin-bottom: 10px;
  font-size: 1em;
  line-height: inherit;
  color: #333;
  border: 0;
	font-weight:bold;
}

.form-horizontal .form-group label, .form-horizontal .form-group input {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
	float: left;
}

.captcha_label {
	height:50px;
}

#captcha {
	padding-left: 15px;
	margin-bottom:10px;
}

textarea.form-control {
  min-width: 60%;
  height: auto;
	min-height: 150px;
}

@media (max-width: 767px) { 
#navbar_search {
	float:none;
	display:block;
}
}

@media (min-width: 768px) {
  .form-horizontal .form-group label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    width: 25%;
   }
	.form-horizontal .form-group h2 {
		width:75%;
	}
}

/* ========== MailChimp forms ========== */
#mc-embedded-subscribe-form .button {
  margin-top:10px;
}

.indicates-required {
  font-size:0.9em;
}


/* ========== SLIMBOX ========== */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(prevlabel.png) no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(nextlabel.png) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(closelabel.png) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}

.btn-container {
	float:right !important;
	clear:left !important;
}

/* ========== !Bootstrap v3 icons  ========== 

/* Basic additional icons  */

.glyphicon-rss-fill:before {
  content: "\F521";
}


 /* Based on regular Bootstrap icons  */
 
.the-icons {
	margin-left: 0;
	list-style: none;
	font-size:0.9em;
}

.the-icons li {
float: left;
width: 25%;
line-height: 25px;
}

section > ul li {
margin-bottom: 5px;
}
 
[class^="social-icon-"],
[class*=" social-icon-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  *margin-right: .3em;
  line-height: 32px;
  vertical-align: text-top;
  background-image: url("../img/social-icons.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-top: 1px;
}

.social-icon-googleplus {background-position: 0px 0px;}
.social-icon-facebook {background-position: -40px 0px;}
.social-icon-twitter {background-position: -80px 0px;}
.social-icon-rss {background-position: -120px 0px;}
.social-icon-email {background-position: -160px 0px;}
.social-icon-delicious {background-position: -0px -40px;}
.social-icon-stumbleupon {background-position: -40px -40px;}
.social-icon-digg {background-position: -80px -40px;}
.social-icon-vimeo {background-position: -120px -40px;}
.social-icon-youtube {background-position: -160px -40px;}
.social-icon-flickr {background-position: -0px -80px;}
.social-icon-instagram {background-position: -40px -80px;}
.social-icon-picasa {background-position: -80px -80px;}
.social-icon-pinterest {background-position: -120px -80px;}
.social-icon-500px {background-position: -160px -80px;}
.social-icon-viadeo {background-position: -0px -120px;}
.social-icon-linkedin {background-position: -40px -120px;}
.social-icon-deviantart {background-position: -80px -120px;}
.social-icon-tumbler {background-position: -120px -120px;}
.social-icon-twitpic {background-position: -160px -120px;}
.social-icon-paypal {background-position: -0px -160px;}
.social-icon-openid {background-position: -40px -160px;}
.social-icon-newsvine {background-position: -80px -160px;}
.social-icon-reddit {background-position: -120px -160px;}
.social-icon-blinklist {background-position: -160px -160px;}
.social-icon-squidoo {background-position: -0px -200px;}
.social-icon-blogger {background-position: -40px -200px;}
.social-icon-myspace {background-position: -80px -200px;}
.social-icon-evernote {background-position: -120px -200px;}
.social-icon-baidu {background-position: -160px -200px;}
.social-icon-foursquare {background-position: -0px -240px;}
.social-icon-feedburner {background-position: -40px -240px;}
.social-icon-wordpress {background-position: -80px -240px;}
.social-icon-yelp {background-position: -120px -240px;}
.social-icon-apple {background-position: -160px -240px;}